:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo,.menu,.dropline{
  mix-blend-mode: difference;
}

.thick-text {
  -webkit-text-stroke-width: 0.4px; /* Width of the stroke */
  -webkit-text-stroke-color: black; /* Color of the stroke */
  /* Color of the stroke */
}

.hero {
  min-height: calc(95vh - 100px);
}

.line-tight{
  line-height: 8.2rem;
}